In [15]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import preprocessor as p
import os

In [16]:
data_dir = '/Users/johnny/data/crisis/ecuador_earthquake_2016/'

## spanish

In [32]:
path = os.path.join(data_dir,'2016_ecuador_eq_es.csv')
ds = pd.read_csv(path,dtype={'id':object})
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4168 entries, 0 to 4167
Data columns (total 10 columns):
id                        4168 non-null object
screen_name               4168 non-null object
text                      4167 non-null object
url                       4168 non-null object
timestamp                 4167 non-null object
choose_one_category       4168 non-null object
crisis_related            4168 non-null object
choose_one_category_a1    4168 non-null object
choose_one_category_a2    4168 non-null object
choose_one_category_a3    4168 non-null object
dtypes: object(10)
memory usage: 325.7+ KB

In [33]:
def calculate_agreement(ds):
    np.random.seed(123)
    ds['choose_one_category_pe1'] = np.random.randint(0, ds.choose_one_category.nunique(), (ds.shape[0], ))
    ds['choose_one_category_pe2'] = np.random.randint(0, ds.choose_one_category.nunique(), (ds.shape[0], ))
    ds['agreement'] = ds['choose_one_category_a1'] == ds['choose_one_category_a2']
    ds['rnd_agreement'] = ds['choose_one_category_pe1'] == ds['choose_one_category_pe2']
    stats=ds.groupby('choose_one_category').agg({'agreement':'sum','rnd_agreement':'sum', 'id': 'count'}).reset_index()
    stats['po'] = stats['agreement'] / stats['id']
    stats['pe'] = stats['rnd_agreement'] / stats['id']
    stats['k'] = (stats['po']-stats['pe'])  / (1 - stats['pe'])
    return stats

In [34]:
stats=calculate_agreement(ds)

,choose_one_category,agreement,rnd_agreement,id,po,pe,k
0,caution_and_advice,47.0,5.0,61,0.770492,0.081967,0.750000
1,displaced_people_and_evacuations,6.0,1.0,12,0.500000,0.083333,0.454545
2,donation_needs_or_offers_or_volunteering_services,156.0,25.0,234,0.666667,0.106838,0.626794
3,infrastructure_and_utilities_damage,100.0,11.0,157,0.636943,0.070064,0.609589
4,injured_or_dead_people,433.0,74.0,624,0.693910,0.118590,0.652727
5,missing_trapped_or_found_people,23.0,8.0,30,0.766667,0.266667,0.681818
6,not_related_or_irrelevant,1281.0,207.0,1846,0.693933,0.112134,0.655278
7,other_useful_information,521.0,75.0,753,0.691899,0.099602,0.657817
8,sympathy_and_emotional_support,301.0,45.0,451,0.667406,0.099778,0.630542

In [29]:
stats.to_csv('../results/agreeement_stats_es.csv', index=False)

## english

In [47]:
path = os.path.join(data_dir,'2016_ecuador_eq_en.csv')
ds = pd.read_csv(path,dtype={'id':object})
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4192 entries, 0 to 4191
Data columns (total 10 columns):
id                        4192 non-null object
screen_name               4192 non-null object
text                      4191 non-null object
url                       4192 non-null object
timestamp                 4192 non-null object
choose_one_category       4192 non-null object
crisis_related            4192 non-null object
choose_one_category_a1    4192 non-null object
choose_one_category_a2    4192 non-null object
choose_one_category_a3    4192 non-null object
dtypes: object(10)
memory usage: 327.6+ KB

In [48]:
stats=calculate_agreement(ds)
stats

,choose_one_category,agreement,rnd_agreement,id,po,pe,k
0,caution_and_advice,25.0,7.0,39,0.641026,0.179487,0.562500
1,displaced_people_and_evacuations,4.0,0.0,7,0.571429,0.000000,0.571429
2,donation_needs_or_offers_or_volunteering_services,133.0,25.0,207,0.642512,0.120773,0.593407
3,infrastructure_and_utilities_damage,55.0,8.0,73,0.753425,0.109589,0.723077
4,injured_or_dead_people,742.0,134.0,1165,0.636910,0.115021,0.589719
5,missing_trapped_or_found_people,3.0,0.0,4,0.750000,0.000000,0.750000
6,not_related_or_irrelevant,1277.0,221.0,1946,0.656218,0.113566,0.612174
7,other_useful_information,250.0,55.0,426,0.586854,0.129108,0.525606
8,sympathy_and_emotional_support,203.0,31.0,325,0.624615,0.095385,0.585034

In [49]:
stats.id.sum()

4192

In [50]:
stats.to_csv('../results/agreeement_stats_en.csv', index=False)